.IndividualPizzas{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    
   
}



.descriptionBox{
        
        text-align: center;
        align-items: center;
        text-shadow: darkblue;
        display: flex;

    }